
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
!/log/.keep
/tmp
*.rbc
*.sassc
*.DS_Store
.sass-cache
/public/system
**.orig
rerun.txt
config/secrets.yml
config/database.yml
.env
/vendor/bundle
.rvmrc
.ruby-gemset
.ruby-version
